# Auto detect text files and perform LF normalization
* text=auto eol=lf

## to change endings for all existing files run the following command (only for current working directory)
## git add --renormalize . 

