#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ShopBot
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=eoehjepgffkecmikenhncmboihmfijif
Icon=/home/pi/Pictures/xShopBot4.ico
StartupWMClass=crx_eoehjepgffkecmikenhncmboihmfijif
Terminal=false
NoDisplay=true

