[Desktop Entry]
Type=Application
Name=ShopBot
Comment=For desktop start
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=mpggjblancmnddkcaegkmkanimefagkp
Icon=/home/pi/Pictures/xShopBot4.ico
StartupWMClass=crx_mpggjblancmnddkcaegkmkanimefagkp
Name[en_US]=ShopBot
Terminal=false
NoDisplay=true


